.navbar-nav li a {
  color: #c9a44d !important; }
  .navbar-nav li a img {
    width: 20px;
    height: 20px; }
  .navbar-nav li a i {
    padding: 0px 5px; }

.navbar-nav li .hoa {
  color: #aa0000 !important;
  font-weight: 600;
  padding-right: 3px; }
  .navbar-nav li .hoa img {
    width: 20px;
    height: 20px;
    margin-right: 10px; }

.navbar-nav .main-nav {
  display: block;
  background-color: white; }
  .navbar-nav .main-nav .navbar-nav li a {
    color: #c9a44d !important; }

.navbar-nav header {
  display: block !important;
  height: 0px !important;
  display: flex !important; }
  .navbar-nav header .menu-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar-nav header .nana img {
    width: 50px;
    height: 50px;
    margin-left: 300px; }
  .navbar-nav header::before {
    position: absolute;
    width: 100%;
    height: 0%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.3); }
  .navbar-nav header .menu-item {
    position: fixed;
    width: 300px;
    height: 40%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s; }
    .navbar-nav header .menu-item li a {
      color: var(--color1);
      padding-right: 80px; }
  .navbar-nav header input {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: fixed; }

.navbar-fixed-top {
  margin-bottom: 0; }
  .navbar-fixed-top .top-nav .container .navbar-header .navbar-brand {
    float: unset;
    display: block;
    padding: 0; }
    .navbar-fixed-top .top-nav .container .navbar-header .navbar-brand img {
      height: 100%; }
  .navbar-fixed-top .main-nav {
    display: none; }
    .navbar-fixed-top .main-nav .navbar-nav {
      width: 100%;
      position: relative;
      margin: 0; }
      .navbar-fixed-top .main-nav .navbar-nav li {
        display: inline-block; }
        .navbar-fixed-top .main-nav .navbar-nav li a {
          color: #c9a44d !important; }
          .navbar-fixed-top .main-nav .navbar-nav li a i {
            font-size: 21px; }
        .navbar-fixed-top .main-nav .navbar-nav li.contact-nav a {
          display: inline-block;
          padding: 15px 5px; }
        .navbar-fixed-top .main-nav .navbar-nav li.icon {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: fit-content; }
        .navbar-fixed-top .main-nav .navbar-nav li:first-child {
          display: none; }
        .navbar-fixed-top .main-nav .navbar-nav li.mobile-brand a {
          height: 50px; }
          .navbar-fixed-top .main-nav .navbar-nav li.mobile-brand a img {
            height: 100%;
            width: auto; }

@media (max-width: 812px) {
  .mobile-hide {
    display: none !important; }
  .navbar-fixed-top .main-nav {
    display: block; }
    .navbar-fixed-top .main-nav .navbar-nav li {
      width: 100%; }
      .navbar-fixed-top .main-nav .navbar-nav li.icon {
        display: flex !important;
        justify-content: center;
        align-items: center; }
        .navbar-fixed-top .main-nav .navbar-nav li.icon .hotline {
          background: #fff;
          border: 2px solid #c9a44d;
          border-radius: 10px;
          padding: 1px 10px;
          color: #c9a44d;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .navbar-fixed-top .main-nav .navbar-nav li.icon .hotline a {
            margin: 0;
            margin-left: 5px;
            text-decoration: none; }
        .navbar-fixed-top .main-nav .navbar-nav li.icon a i {
          margin-top: 2px;
          color: #c9a44d; }
      .navbar-fixed-top .main-nav .navbar-nav li:first-child {
        display: block; }
      .navbar-fixed-top .main-nav .navbar-nav li:not(:first-child) {
        display: none; }
      .navbar-fixed-top .main-nav .navbar-nav li .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0; }
    .navbar-fixed-top .main-nav .navbar-nav.responsive {
      position: relative; }
      .navbar-fixed-top .main-nav .navbar-nav.responsive li {
        display: block; }
      .navbar-fixed-top .main-nav .navbar-nav.responsive a {
        float: none;
        display: block;
        text-align: left; } }

footer {
  background-color: #1f1f1f; }
  footer .row {
    padding: 30px 0; }
    @media (max-width: 992px) {
      footer .row > .flex {
        flex-wrap: wrap;
        margin: auto; } }
    @media (max-width: 540px) {
      footer .row > .flex {
        width: 100% !important; } }
    .Mobile footer .row > .flex {
      width: 100% !important; }
  footer .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px; }
  footer a {
    cursor: pointer;
    text-decoration: none;
    color: white; }
    footer a:hover {
      color: white;
      text-decoration: none; }
  footer .first .chung-chi {
    margin-top: 10px; }
    footer .first .chung-chi:last-child {
      margin-left: 5px; }
      @media (max-width: 540px) {
        footer .first .chung-chi:last-child {
          margin-left: 0; } }
      .Mobile footer .first .chung-chi:last-child {
        margin-left: 0; }
  footer .first p {
    margin-top: 10px;
    color: #fff;
    font-size: 15px; }
  footer .first .group-doi-tac .logo-doi-tac {
    margin-left: 3px; }
    footer .first .group-doi-tac .logo-doi-tac:first-child {
      margin-left: 0; }
  footer .first .group-image {
    margin-top: 5px; }
    footer .first .group-image .image {
      margin-top: 10px;
      margin-right: 5px; }
  footer .about div {
    color: white;
    font-size: 13px; }
    footer .about div a {
      cursor: pointer;
      line-height: 26px;
      text-decoration: none;
      color: white; }
  footer .about h4 {
    color: #737373; }
  footer .follow > div {
    color: white;
    font-size: 13px; }
    footer .follow > div > div {
      margin-top: 8px; }
    footer .follow > div a {
      line-height: 26px; }
      footer .follow > div a img {
        margin-right: 6px; }
  footer .follow h4 {
    color: #737373; }
  @media (max-width: 540px) {
    footer .contact {
      margin-top: 20px; } }
  .Mobile footer .contact {
    margin-top: 20px; }
  footer .contact input {
    border: 2px solid white;
    background-color: #1f1f1f;
    height: 40px; }
    footer .contact input:focus {
      outline: none; }
  footer .contact .btn-dang-ki {
    margin-left: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    color: white;
    background-color: #c9a44d;
    border: none;
    border-radius: 3px; }
  footer .contact .info-group {
    margin-top: 15px; }
    footer .contact .info-group img {
      margin-right: 15px; }
    footer .contact .info-group .title {
      font-size: 17px;
      font-weight: bold;
      color: #737373; }
    footer .contact .info-group .hotline {
      margin-left: 40px; }
    footer .contact .info-group .phone {
      display: block;
      font-size: 13px;
      line-height: 24px; }
    @media (max-width: 540px) {
      footer .contact .info-group .flex {
        flex-wrap: wrap; } }
    .Mobile footer .contact .info-group .flex {
      flex-wrap: wrap; }
  footer .line {
    margin: 20px 0;
    height: 1px;
    background-color: #ffffff; }
  footer .copyright {
    font-size: 14px;
    color: #737373; }

.sticky-social {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 99; }
  .sticky-social ul {
    list-style-type: none;
    margin: 0; }
    .sticky-social ul li {
      background-color: #fff;
      width: fit-content;
      margin: 0;
      text-align: center; }
      .sticky-social ul li.messenger {
        background-color: #007ff7;
        border-top-left-radius: 5px; }
      .sticky-social ul li.call {
        background-color: #26d37c;
        border-bottom-left-radius: 5px; }
      .sticky-social ul li.zalo {
        border-left: 1px solid #eee; }
      .sticky-social ul li i {
        font-size: 16px;
        color: #fff; }
      .sticky-social ul li img {
        width: 15px; }
      .sticky-social ul li a {
        display: block;
        padding: 15px; }

.main-container {
  width: 1060px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px; }
  .main-container .cat-lists .list {
    list-style: none;
    column-count: 9;
    padding-inline-start: 0; }
    .main-container .cat-lists .list li {
      text-align: center; }
      .main-container .cat-lists .list li a {
        display: block; }
        .main-container .cat-lists .list li a img {
          width: 70%; }
        .main-container .cat-lists .list li a .text {
          text-transform: uppercase;
          font-size: 13px;
          line-height: 1.4;
          color: #000;
          font-weight: bold; }
        .main-container .cat-lists .list li a:hover {
          text-decoration: none !important; }
          .main-container .cat-lists .list li a:hover .text {
            text-decoration: none !important; }
  .main-container .blog-item {
    max-width: 100%;
    position: relative;
    overflow: hidden; }
    .main-container .blog-item:hover img {
      transform: scale(1.1);
      transition: all .3s; }
    .main-container .blog-item a.wrap {
      display: block;
      z-index: 5;
      position: relative; }
      .main-container .blog-item a.wrap img {
        max-width: 100%;
        transition: all .3s; }
      .main-container .blog-item a.wrap:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 3; }
    .main-container .blog-item .blog-info {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 9;
      padding: 20px 10px; }
      .main-container .blog-item .blog-info .title {
        color: #fff;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: .5em;
        font-weight: bold; }
      .main-container .blog-item .blog-info .meta-info .post-author-name {
        display: inline-block;
        font-weight: bold; }
        .main-container .blog-item .blog-info .meta-info .post-author-name a {
          color: #fff;
          font-size: 13px; }
      .main-container .blog-item .blog-info .meta-info .post-date {
        color: #aaa;
        font-size: 13px; }
  .main-container .intro-sec .intro-list {
    display: grid;
    grid-gap: 5px; }
    .main-container .intro-sec .intro-list .first-item {
      grid-column: 1 / 3;
      grid-row: 1;
      height: 500px; }
      .main-container .intro-sec .intro-list .first-item .blog-item {
        height: 100%; }
        .main-container .intro-sec .intro-list .first-item .blog-item a.wrap {
          height: 100%; }
          .main-container .intro-sec .intro-list .first-item .blog-item a.wrap img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
    .main-container .intro-sec .intro-list .list-item {
      grid-column: 3;
      grid-row: 1;
      height: 500px;
      overflow: hidden; }
      .main-container .intro-sec .intro-list .list-item .blog-item {
        height: 33%;
        margin-bottom: calc(1%/2); }
        .main-container .intro-sec .intro-list .list-item .blog-item:last-child {
          margin-bottom: 0; }
  .main-container .cate-sec {
    margin: 50px 0; }
    .main-container .cate-sec .cat-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1em; }
    .main-container .cate-sec .blog-list ul {
      list-style: none;
      padding-inline-start: 0;
      column-count: 3;
      column-gap: 5px; }
      .main-container .cate-sec .blog-list ul .blog-item {
        margin-bottom: 5px; }
    .main-container .cate-sec .owl-dots {
      display: none; }
    .main-container .cate-sec .owl-nav {
      text-align: left; }
      .main-container .cate-sec .owl-nav button {
        margin: 0;
        display: inline-block;
        padding: 1px 10px 4px !important;
        line-height: 1;
        border: 1px solid;
        border-radius: unset;
        font-size: 30px;
        font-weight: bold;
        margin-right: 5px; }
        .main-container .cate-sec .owl-nav button:hover {
          color: #fff;
          border-color: #4db2ec;
          background-color: #4db2ec; }
  .main-container .blog-sec {
    margin: 50px 0; }
    .main-container .blog-sec .cat-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1em; }
    .main-container .blog-sec .post-list ul {
      list-style: none;
      padding-inline-start: 0;
      column-count: 3;
      column-gap: 5px; }
      .main-container .blog-sec .post-list ul .post-item {
        margin-bottom: 5px; }
        .main-container .blog-sec .post-list ul .post-item a {
          display: block; }
          .main-container .blog-sec .post-list ul .post-item a img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
        .main-container .blog-sec .post-list ul .post-item .post-info .title {
          color: #000; }
        .main-container .blog-sec .post-list ul .post-item .post-info .post-author-name {
          display: inline-block; }
        .main-container .blog-sec .post-list ul .post-item .post-info .post-date {
          display: inline-block; }
        .main-container .blog-sec .post-list ul .post-item .excerpt {
          color: #aaa; }

@media (max-width: 676px) {
  .main-container .cat-lists .list {
    column-count: 3; }
  .main-container .intro-sec .intro-list .first-item {
    grid-column: 1;
    grid-row: 1;
    height: auto; }
  .main-container .intro-sec .intro-list .list-item {
    grid-column: 1;
    grid-row: 2;
    height: auto; }
    .main-container .intro-sec .intro-list .list-item .owl-stage {
      padding-left: 0 !important;
      padding-right: 0 !important; }
    .main-container .intro-sec .intro-list .list-item .blog-item {
      height: 150px;
      margin: 0 3px; }
  .main-container .cate-sec .blog-list ul {
    column-count: 1; }
  .main-container .blog-sec .post-list ul {
    column-count: 1; } }
