table.ui-datepicker-calendar {
  width: 250px;
  text-align: center;
}

.ui-datepicker-header {
  text-align: center;
}

.select-departure-container .mystyle {
  text-align: center;
  color: red;
  font-weight: 600;
  padding-top: 10px;
}
