/*Default Product Page - Task 3 - Set max-width to make the price fit into border*/
@media screen and (max-width: 767px) .table-responsive>.table>tbody>tr>td:first-child {
    white-space: nowrap;
    max-width: 135px;
}
/*--------------------------------------------------------------------------------*/

/*Home - Mobile - Task 1 - Removing white spacing*/

@media (max-width: 767px) .service.desktop-hide {
    margin-top: 0px;
}

@media (max-width: 767px) .advantage {
    margin:  0;
    overflow: hidden;
}

/*--------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) .table-responsive>.table>tbody>tr>td:first-child {
    color: red;
    font-weight: 600px;
}