.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #eee;
    font-family: 'Encode Sans', sans-serif;
    position: relative;

    .title{
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }
    .desc{
        color: #333;
        font-size: 14px;
        margin: 0;
    }
    &.active{
        background-color: #ff5722;
        color: #fff;
        .desc{
            color: #fff;
        }
        + .panel{
            max-height: 600px;
        }
        &:after {
            content: ""; /* Unicode character for "minus" sign (-) */
            position: absolute;
            left: 100%;
            top: 35%;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #ff5722;
            z-index: 99;
        }
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    ul.text-number{
        list-style-type: decimal;
    }
    ul.text-point{
        list-style-type: disc;
    }
}

