.container.breadcrumb {
  margin-top: 110px;
  background-color: white;
  .breadcrumb {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .breadcrumb-item {
    cursor: pointer;
  }
  a {
    color: black;
    font-size: 14px;
    &:hover {
      text-decoration: none;
      color: black;
    }
    &.active {
      color: #8c8c8c;
    }
  }
}
.detail {
  button.btn-dat-ngay {
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    background-color: #c9a44d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  .map {
    margin-top: 20px;
  }
  .left-bar {
    .post-section-title {
      font-size: 18px;
    }
    .post-list {
      background-color: #f6f6f6;
      width: 100%;
      height: fit-content;
      .wrap-item {
        cursor: pointer;
        padding-left: 0;
        padding-right: 0;
        @include respond-tabletlandscape {
          padding-right: 15px;
        }
        .image {
          width: 100%;
        }
      }
    }
  }
  .right-bar {
    .top-content {
      @include respond-tabletlandscape {
        flex-direction: column;
      }
    }
  }
  .tour-detail-col {
    @include respond-tabletlandscape {
      display: flex;
      flex-direction: column;
    }
  }
  .top-content.flex {
    justify-content: space-between;
    .name-group {
      .title {
        font-size: 30px;
        font-weight: bold;
      }
      .code {
        font-size: 12px;
        color: #c4c4c4;
      }

      .location-group {
        p {
          margin: auto;
          margin-left: 5px;
          color: #c9a44d;
          font-size: 14px;
        }
      }
    }
    .money-group {
      padding-top: 10px;
      .from {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
      }
      .money {
        font-size: 36px;
        font-weight: bold;
        color: #ff1a00;
      }
    }
  }
  .product {
    margin-top: 20px;
    .left-content {
      padding-left: 0;
      height: 338px;
      @include respond-tabletportrait {
        padding-right: 0;
        height: auto;
      }
      > div {
        padding: 0;
        .image {
          cursor: pointer;
          img {
            width: 100%;
          }
          .bookmark {
            background-image: url("../image/bookmark-vuong.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 140px;
            height: 50px;
            position: absolute;
            top: 40px;
            left: -10px;
            color: white;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .polygon {
            background-image: url("../image/polygon2.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 10px;
            height: 15px;
            position: absolute;
            top: 25px;
            left: -10px;
          }
        }
        .list-image {
          margin-top: 22px;
          height: 100px;
          justify-content: space-around;

          img {
            margin-right: 5px;
            width: auto;
          }
          .thumb {
            cursor: pointer;
            height: 100px;
            width: 33%;
            @include respond-tabletportrait {
              display: block;
            }
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
    .right-content {
      background-color: #f6f6f6;
      .image-text {
        font-size: 14px;
        &:first-child {
          margin-top: 20px;
        }
        margin-top: 10px;
        img {
          margin-right: 5px;
        }
        &.green {
          color: #32a071;
        }
      }
      .line {
        margin: 10px 0;
        height: 1px;
        background-color: #c4c4c4;
      }
      .bonus {
        width: 100%;
        flex-wrap: wrap;
        font-size: 12px;
        color: #007ae9;
        justify-content: start;
        align-items: center;
        .bonus-item {
          cursor: pointer;
          margin-left: 10px;
          border: 0.8px solid gray;
          border-radius: 4px;
          padding: 6px;
          margin-top: 5px;
        }
      }
      .number {
        .title {
          font-size: 12px;
          font-weight: bold;
        }
        .item {
          margin-top: 5px;
          padding: 10px;
          background-color: #ffffff;
          img {
            cursor: pointer;
          }
        }
      }
      .tong {
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .text {
          font-size: 14px;
          font-weight: bold;
        }
        .money {
          color: #ff1a00;
          font-size: 1.5vw;
          @include respond-tabletportrait {
            font-size: 3vw;
          }
        }
        button {
          width: 140px;
          padding: 1vw;
        }
      }
    }
  }
  .help {
    &.contact {
      @include respond-mobile {
        display: none;
      }
    }
    height: 60px;
    margin: 15px 0;
    justify-content: flex-start;
    .line {
      background-color: #c9a44d;
      width: 16px;
    }
    .help-content {
      background-color: #f6f6f6;
      padding-left: 20px;
      width: inherit;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      @include respond-tabletlandscape {
        padding-left: 10px;
      }
      .title {
        font-size: 20px;
        @include respond-mobile {
          font-size: 4vw;
        }

        &.upper {
          text-transform: uppercase;
        }
      }

      .item {
        margin-left: 10px;
        cursor: pointer;
        img {
          margin-right: 5px;
        }
        font-size: 14px;
        background-color: #009cde;
        margin-right: 5px;
        color: #fff;
        border-radius: 4px;
        padding: 5px 30px;
      }
    }
  }
  .promotion {
    .title {
      background-color: #c9a44d;
      height: 50px;
      line-height: 50px;
      p {
        margin: auto 0;
        margin-left: 20px;
        color: white;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
    .content {
      background-color: #f6f6f6;
      height: 250px;
    }
  }
  .start-container {
    @include respond-tabletlandscape {
      flex-direction: column;
      text-align: left;
    }
    .review {
      margin-left: 5px;
      @include respond-tabletlandscape {
        justify-content: flex-start;
      }
      .count {
        color: #8c8c8c;
      }
      color: #78a962;
      .number {
        color: white;
        border-radius: 4px;
        background-color: #78a962;
        width: fit-content;
        padding: 2px 4px;
      }
    }
  }
  .tour-info-col {
    margin-top: 20px;

    .tour-info {
      &.image {
        @include respond-tabletlandscape {
          margin-top: 20px;
        }
      }
      .title {
        background-color: #c9a44d;
        height: 50px;
        line-height: 50px;
        &.bar {
          display: flex;
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
          img {
            margin-left: 10px;
          }
          p {
            margin: auto 0;
            margin-left: 10px;
          }
        }
        &.blue {
          background-color: #007ae9;
        }
        p {
          margin: auto 0;
          margin-left: 20px;
          color: white;
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
        }
      }
      .content-list {
        background-color: #f6f6f6;
        padding: 10px 0;
        &.blue {
          .item {
            color: #007ae9;
          }
        }
        .item {
          &:first-child {
            margin-top: 0;
          }
          color: #c9a44d;
          display: flex;
          margin: 6px 10px 0;
          p {
            font-size: 16px;
            margin: auto 10px 0;
          }
        }
      }
      .content {
        background-color: #f6f6f6;
        .gray {
          background-color: #f6f6f6;
        }
        > div {
          padding-left: 0;
          > div {
            padding-left: 0;
          }
        }
        .help {
          @include respond-tabletlandscape {
            padding-right: 0;
          }
          .help-content {
            align-items: center;
          }
          .title {
            margin-left: 20px;
            background-color: #f6f6f6;
            color: black;
            text-align: left;
          }
        }
        .review-item {
          @include respond-tabletportrait {
            text-align: center;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          @include respond-mobile {
            text-align: center;
            width: 100%;
          }
          margin-top: 20px;
          &:first-child {
            margin-top: 10px;
          }
          .avatar {
            img {
              border-radius: 50%;
              @include respond-tabletportrait {
                margin: auto;
              }
            }
          }
          .name {
            font-size: 16px;
          }
          .start-container {
            justify-content: flex-start;
            @include respond-tabletportrait {
              justify-content: center;
              align-items: center;
            }
          }
          .sub {
            color: #c4c4c4;
            font-size: 12px;
          }
          .review-text {
            font-size: 14px;
          }
          .image-list {
            @include respond-tabletportrait {
              display: flex;
              flex-wrap: wrap;
            }
            img {
              margin: 10px 10px 10px 0;
              height: 100px;
              width: 100px;
              @include respond-tabletportrait {
                width: 40px;
                height: 40px;
                margin: 5px 5px 5px 0;
              }
              @include respond-mobile {
                width: 40px;
                height: 40px;
                margin: 5px 5px 5px 0;
              }
            }
          }
          .btn-like {
            color: #a6a6a6;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #a6a6a6;
            background-color: white;
            padding: 5px;
            height: 50px;
            width: 130px;
            img {
              margin: auto 10px;
            }
            @include respond-tabletportrait {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
            }
          }
        }
      }
    }
  }
  .product-list {
    margin-top: 0;
    margin-bottom: 40px;
    @include respond-tabletlandscape {
      margin-bottom: 60px;
    }
    .wrap-item {
      padding-top: 20px;
      padding-bottom: 20px;
      cursor: pointer;
      .detail-group {
        .right-content {
          .money {
            @include respond-desktopsmall {
              font-size: 2.5vw !important;
            }
            @include respond-tabletlandscape {
              font-size: 3.5vw !important;
            }
            @include respond-mobile {
              font-size: 5vw !important;
            }
          }
        }
      }
    }
  }
  .slick-arrow {
    &:before {
      color: #c9a44d;
    }
  }
}
