.bao{
    //  background-color: rgb(180, 179, 179);
    width: 100%;
    max-height: 100%;
}
.hd{
    // width: 1920px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    box-shadow: 2px 2px 2px 2px soild #000000;
    border: 1px solid #dbd6d6;
   p{
    // position: absolute;
    width: 363px;
    height: 31.25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    color: #A6A6A6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   .hd1{
       span{
           color: #C9A44D;
           font-size: 30px;
           font-family: Inter;
            font-style: normal;
            font-weight: bold;
       }
   }
   .hd2{
    width: 363px;
    height: 38px;
    background: #C9A44D;
    border-radius: 8px;
    cursor: pointer;
    p{
        color: #FFFFFF;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;  
        text-align: center;
    }
}
}
.bt{
    margin-top:30px;
    .bt1{
        width: 168px;
        height: 45px;
        background-color: #C9A44D;
        border-radius: 25px;
        display: flex;
        align-items: center;
        padding: 0px 25px;
        margin: auto;
        
        p{
            font-family: Roboto;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
            line-height: 16px; 
            color: #FFFFFF;
            padding-top: 10px;
            padding-left: 20px;
        }
        
    }
}