.section-experience {
  .card-experience__container:nth-child(1),
  .card-experience__container:nth-child(4),
  .card-experience__container:nth-child(5),
  .card-experience__container:nth-child(8),
  .card-experience__container:nth-child(9),
  .card-experience__container:nth-child(12),
  .card-experience__container:nth-child(13),
  .card-experience__container:nth-child(16),
  .card-experience__container:nth-child(17),
  .card-experience__container:nth-child(20) {
    @include respond(tab-port) {
      height: 270px;
    }
  }
  .margin-vertical {
    margin: 20px auto;
    @include respond(tab-port) {
      width: 96%;
      margin-top: 30px !important;
    }
  }
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 72px;
    line-height: 87.04px;
    font-weight: 500;
    letter-spacing: 3px;
    color: rgba(79, 79, 79, 1);

    > span {
      font-size: 36px;
      line-height: 48.96px;
    }
  }

  background: linear-gradient(180deg, white, #ffd6b1, white);

  .owl-carousel .owl-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-nav {
    & [class*="owl-"]:hover {
      background-color: white !important;
      color: black;
      border-radius: 50%;
    }
    .owl-next {
      position: absolute;
      top: 40%;
      right: 3%;
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: white;
        color: black;
        border-radius: 50%;
      }
    }
    .owl-prev {
      position: absolute;
      top: 40%;
      left: 3%;
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: white;
        color: black;
        border-radius: 50%;
      }
    }
  }

  .container {
    .my-row:nth-child(even) {
      @include respond(tab-port) {
        display: flex !important;
        flex-direction: column-reverse;
      }
    }
  }

  .card-experience {
    &__container {
      height: 320px;
      // background-color: lightblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > h3 {
        margin: 0 !important;
        font-family: "SVN-Rohtwo";
        font-size: 64px;
        color: #4f4f4f;
      }
      p {
        font-family: Be Vietnam;
      }
      &--image {
        height: 320px;
        width: 100%;
        // background-color: lightcoral;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > img {
          width: 100%;
        }
      }
    }
  }
}

.section-tour-slider {
  .custome-row-tour-slider {
    padding: 20px 0;
  }
  .card-image__container {
    width: 100%;
    height: 330px;
    display: flex;

    @include respond(tab-port) {
      height: max-content;
    }

    > img {
      width: 100%;
    }
  }
  .card-text__container {
    border: 5px solid black;
    height: max-content;
    color: #4f4f4f;
    padding: 10px;

    > h3 {
      font-family: "SVN-Rohtwo";
      font-size: 36px;
      font-weight: 400;
      text-align: center;
    }
    > p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
    }
    ul > li {
      list-style: outside;
      margin-left: 20px;
    }
  }

  padding-bottom: 50px;
  .owl-theme .owl-nav [class*="owl-"] {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 72px;
    line-height: 97.92px;
    color: #4f4f4f;
    font-weight: 500;
    > span {
      font-size: 36px;
      line-height: 48.96px;
    }
  }
  .owl-nav {
    & [class*="owl-"]:hover {
      background-color: white !important;
      color: black;
      border-radius: 50%;
    }
  }

  .owl-prev {
    position: absolute;
    top: 40%;
    left: -4%;
    @include respond(tab-land) {
      left: -1.5%;
    }
    > span {
      font-size: 25px;
      padding: 3px 13px;
      background: #ffffff;
      color: black;
      border-radius: 50%;
    }
  }
  .owl-next {
    top: 40%;
    position: absolute;
    right: -3%;
    @include respond(tab-land) {
      right: -1%;
    }
    @include respond(tab-port) {
      right: -1.5%;
    }
    > span {
      font-size: 25px;
      padding: 3px 13px;
      background: #ffffff;
      color: black;
      border-radius: 50%;
    }
  }
  .owl-dots {
    display: none;
  }
}

.section-about-slider {
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 64px;
    line-height: 87.04px;
    color: #4f4f4f;
    font-weight: 500;
    margin: 30px auto;
  }
  .about-image__container {
    @include respond(tab-land) {
      width: 230px;
      height: 230px;
    }
    @include respond(tab-port) {
      width: 215px;
      height: 215px;
    }
  }
  .card-about__container--bottom {
    height: max-content;
    padding: 20px 10px 10px 10px;
    margin-bottom: 30px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 164, 77, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );

  .owl-dots {
    display: none;
  }

  .row {
    margin-bottom: 35px;
  }

  .owl-nav {
    & [class*="owl-"]:hover {
      background-color: white !important;
      color: black;
      border-radius: 50%;
    }
    .owl-next {
      position: absolute;
      top: 40%;
      right: -7%;
      @include respond(tab-land) {
        right: -3.5%;
      }
      @include respond(tab-port) {
        right: -5%;
      }
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: white;
        color: black;
        border-radius: 50%;
      }
    }
    .owl-prev {
      position: absolute;
      top: 40%;
      left: -7%;
      @include respond(tab-land) {
        left: -4%;
      }
      @include respond(tab-port) {
        left: -5.5%;
      }
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: white;
        color: black;
        border-radius: 50%;
      }
    }
  }
}

.section-experience-silder {
  background-image: linear-gradient(180deg, white, #f3f3f3);
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 72px;
    line-height: 97.92px;
    color: #4f4f4f;
    font-weight: 500;
    margin: 30px auto;
    letter-spacing: 4px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    & [class*="owl-"]:hover {
      background-color: white !important;
      color: black;
      border-radius: 50%;
    }
    .owl-next {
      position: absolute;
      top: 40%;
      right: -5%;
      @include respond(tab-land) {
        right: -2.5%;
      }
      @include respond(tab-port) {
        right: -3%;
      }
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: #ffffff;
        color: black;
        border-radius: 50%;
      }
    }
    .owl-prev {
      position: absolute;
      top: 40%;
      left: -5%;
      @include respond(tab-land) {
        left: -2.5%;
      }
      @include respond(tab-port) {
        left: -4%;
      }
      > span {
        font-size: 25px;
        padding: 3px 13px;
        background: #ffffff;
        color: black;
        border-radius: 50%;
      }
    }
  }
  .card-experience-slider {
    &__container {
      display: flex;
      flex-direction: column;
      > a {
        font-size: 18px;
        font-weight: 700;
        color: #4f4f4f;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.section-2 {
  .row {
    > h2 {
      font-family: SVN-Rohtwo;
      font-size: 72px;
      color: #4f4f4f;
      font-weight: 400;
      margin: 0 auto;
      text-align: center;
    }
    > h6 {
      font-family: Helvetica-Neue;
      text-align: center;
    }
    > p {
      font-family: Be Vietnam;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 50px;
      @include respond(tab-port) {
        margin-bottom: 20px !important;
      }
    }
  }
  .image-container {
    &--left {
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 490px;
      @include respond(tab-land) {
        height: 390px;
      }
      @include respond(tab-port) {
        height: 650px;
      }
      &-01 {
        // background-image: url("../../image/gioi-thieu-phu-quoc-united-center-1\ \ \(2\)\ 1.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: max-content;
        @include respond(tab-port) {
          height: 300px;
        }
      }
      &-02 {
        // background-image: url("../../image/gioi-thieu-phu-quoc-united-center-1.png");
        height: max-content;
        background-size: contain;
        background-repeat: no-repeat;
        @include respond(tab-port) {
          height: 300px;
        }
      }
    }
    &--right {
      height: max-content;
      // background-image: url("../../image/image-map-phu-quoc\ 1.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto;
      @include respond(tab-port) {
        width: 96%;
        margin-top: 13px;
      }
    }
  }
}

.section-1 {
  @include respond(tab-port) {
    margin-bottom: 20px !important;
  }
  font-family: "Be Vietnam";
  background-image: linear-gradient(
      to right,
      rgba(68, 68, 68, 1),
      rgba(0, 0, 0, 0)
    ),
    url(../../image/phu-quoc-united-center-ivivu-4.png);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 512px;
  .heading-secondary {
    font-size: 24px;
    &:first-child {
      margin-top: 50px;
    }
  }
  .heading-primary {
    font-size: 72px;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 69px;
    }
    @include respond(phone) {
      font-size: 48px;
    }
  }
}

.section-3 {
  @include respond(tab-port) {
    margin-bottom: 20px !important;
  }
  .circel-container {
    width: 315px;
    height: 315px;

    @include respond(tab-port) {
      width: 230px;
      height: 230px;
    }
    @include respond(phone) {
      width: 315px;
      height: 315px;
      margin-bottom: 10px;
    }

    &-01,
    &-04 {
      margin-left: auto;
    }
    &-02 {
      margin: auto;
    }
    &-03,
    &-05 {
      margin-right: auto;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      @include respond(tab-port) {
        background-size: 230px 230px;
      }
      @include respond(phone) {
        background-size: 315px 315px;
      }
      &-01 {
        background-image: url(../../image/circle-section-3.png);
      }
      &-02 {
        background-image: url(../../image/circle-section-3-02.png);
      }
      &-03 {
        background-image: url(../../image/circle-section-3-03.png);
      }
      &-04 {
        background-image: url(../../image/circle-section-3-04.png);
      }
      &-05 {
        background-image: url(../../image/circle-section-3-05.png);
      }
    }
    &__text {
      width: 213px;
      color: white;
      text-align: center;
      font-family: "Be Vietnam";
      @include respond(tab-port) {
        width: 180px;
      }
      @include respond(phone) {
        width: 260px;
      }
      > h6 {
        font-size: 46px;
        font-weight: 600;
        @include respond(tab-port) {
          font-size: 30px;
        }
        @include respond(phone) {
          font-size: 40px;
        }
      }
      > p {
        font-size: 15px;
        line-height: 26px;
        @include respond(tab-port) {
          font-size: 15px;
        }
        @include respond(phone) {
          font-size: 20px;
        }
      }
    }
  }
  &__background--wrapper {
    background-image: url(../../image/background-section-03.png);
    background-repeat: no-repeat;

    @include respond(tab-port) {
      padding-bottom: 90px;
    }
  }
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 64px;
    line-height: 87.04px;
    font-weight: 500;
    letter-spacing: 5px;
    color: rgba(79, 79, 79, 1);

    > span {
      font-size: 36px;
      line-height: 48.96px;
    }
  }
}

.section-form-validate {
  background-color: #f3f3f3;
  > h2 {
    font-family: "SVN-Little Pea";
    text-align: center;
    font-size: 48px;
    line-height: 65.28px;
    color: rgba(79, 79, 79, 1);
    font-weight: 500;
    margin: 50px auto;
    @include respond(tab-port) {
      margin: 30px auto;
    }
  }
}
