.btn {
  &--phuquoc {
    color: white;
    font-size: 24px;
    &__container {
      width: 343px;
      height: 60px;
      background-color: #c9a44d;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
    }
  }
}
