.card-tour {
  display: flex;
  justify-content: center;
  &__container {
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    width: 90%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    > h3 {
      font-size: 16px;
      color: #000000;
    }

    &--text {
      padding: 0 10px;
      padding-bottom: 10px;
      > h3 {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
      }
    }
  }
  &__footer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;

    &--left {
      .score {
        background: #32a636;
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
      }
      .start {
        color: #8c8c8c;
        font-size: 10px;
      }
    }
    &--right {
      text-align: right;
      color: #1a2b49;
      font-size: 10px;

      > span {
        font-weight: 600;
      }
    }
  }
}
