.card-about {
  &__container {
    &--top {
      height: 74px;
      background-color: #e7a400;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > h4 {
        font-size: 24px;
        font-weight: 600;
        margin-left: 40px;
        color: white;
        text-transform: uppercase;
      }
    }
    &--bottom {
      height: 307px;
      padding: 25px;
      background-color: white;
    }
  }
}

.about-image {
  &__container {
    width: 245px;
    height: 245px;
    background-color: #e7a400;
    border-radius: 5px;

    > img {
      border-radius: 5px;
    }
  }
}
