@font-face {
  font-family: "SVN-Rohtwo";
  src: url("../fonts/SVN-Rohtwo.woff2") format("woff2"),
    url("../fonts/SVN-Rohtwo.woff") format("woff"),
    url("../fonts/SVN-Rohtwo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/helvetica-neue-bold-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Little Pea";
  src: url("../fonts/SVN-LittlePea.woff2") format("woff2"),
    url("../fonts/SVN-LittlePea.woff") format("woff"),
    url("../fonts/SVN-LittlePea.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
